@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

root{
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}
body{
  font-family: 'Work Sans', sans-serif;
}